* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    margin: auto;
    width: 70%;
    margin-top: 20px;
}

.container_top{
    text-align: center;

}

#Text_top{
    margin-top: 20px;
    font-size: 24px;
}

h1{
    color: rgb(224, 20, 227);
    font-size: 42px;
    font-family: sans-serif;
}

.clearfix::after{
    content:' ';
    display: block;
    clear: both;
}

.employee_list{
    margin-top: 50px;
}

.employee{
    display: table;
    float: left;
    width: calc(100% / 3);
    background-color: rgb(10, 7, 42); 
    margin: 10px;
    box-shadow: 4px rgb(56, 54, 54);
}

.employee p{
    line-height: 140%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: table-cell;
    float: left;
    text-align: left;
    margin-left: 10px;
    color: white;
}

.employee img{
    display: table-cell;
    float: left;
    text-align: left;
    width: 80px;
}

a{
    color: rgb(0, 238, 255);
    text-decoration:none
}